
{{!-- * ITE5315 – Assignment 2
* I declare that this assignment is my own work in accordance with Humber Academic Policy. 
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
* 
* Name: Aditya Joshi Student ID: N01545536 Date: October 31, 2023
* --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>
  <body>
    <header>
      <!-- Displaying name and student ID in the header -->
      <h1>Aditya Joshi</h1>
      <p>Student ID: N01545536</p>

       <!-- Navigation bar -->
 <!-- Add this HTML to your 'main.hbs' file where the header section is defined -->



    </header>
    <div class="content">
      <!-- Dynamic content/messages will be displayed here -->
      {{{body}}}

    </div>
    <footer>
      <!-- Displaying email address in the footer -->
      <p>Email: aditya.joshi@humber.ca</p>
    </footer>


  </body>
</html>
