<style>
    button{
        margin: 10px;
        padding: 10px;
        background-color: aquamarine;
        text-align: center;
    }
</style>
<form action="/api/employees">
<button type="submit">Go to Question 1</button>
</form>
<form action="/api/invoices/" method="GET">
    <button type="submit">Go to Question 2</button>
</form>