{{!-- /********************************************************************************* * 
 * ITE5315 – Assignment 4 * 
 * I declare that this assignment is my own work in accordance with Humber Academic Policy. *
 *  No part of this assignment has been copied manually or electronically from any other source * 
 * (including web sites) or distributed to other students. * *
 *  Name: Aditya Joshi Student ID: n01545536 Date: November 26, 2023 * 
 * * ********************************************************************************/ --}}

<style>
    button{
        margin: 10px;
        padding: 10px;
        background-color: aquamarine;
        text-align: center;
    }
</style>
<form action="/api/employees">
<button type="submit">Go to Question 1</button>
</form>
<form action="/api/invoices/" method="GET">
    <button type="submit">Go to Question 2</button>
</form>